name: pull_request
on: [pull_request]
jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.x]

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v4

      - name: Install GDAL
        run: |
          sudo apt-get update
          sudo apt-get install -y gdal-bin

      - name: Init Nodejs
        uses: MapColonies/shared-workflows/actions/init-npm@init-npm-v1
        with:
          node-version: ${{ matrix.node }}

      - name: Run tests
        run: npm run test

      - uses: actions/upload-artifact@v6
        with:
          name: Test Reporters ${{ matrix.node }}
          path: ./reports/**

  eslint:
    name: Run TS Project eslint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.x]

    steps:
      - name: Run TS Project linters
        uses: MapColonies/shared-workflows/actions/eslint@eslint-v1.0.1
        with:
          node_version: ${{ matrix.node }}
